language: python
python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - pypy
install:
  - python bootstrap-buildout.py --setuptools-version=33.1.1 --buildout-version=2.5.2
  - bin/buildout -N
script:
  - make -k test
after_success:
  - easy_install coveralls
  - coveralls
